<section class="d-flex justify-content-center align-items-center flex-column">
  <h1 *ngIf="user">Hello {{ user.id }} {{ user.name | uppercase }}</h1>
  <p>Would you like to see your lists ?</p>

  <div class="mt-3">
    <ul class="nav nav-pills">
      <li class="nav-link active" [class.active]="viewMode == 'likes'">
        <a (click)="viewMode = 'likes'">Recipes You Liked</a>
      </li>
      <li class="nav-link active" [class.active]="viewMode == 'list'">
        <a (click)="viewMode = 'list'">List View</a>
      </li>
    </ul>
  </div>
</section>

<div
  [ngSwitch]="viewMode"
  class="d-flex justify-content-center align-items-center"
>
  <div style="width: 80%" class="my-3" *ngSwitchCase="'likes'">
    <div class="card w-90 mb-2" *ngFor="let l of userLikes">
      <div class="card-body">
        <h5 class="card-title">{{ l.title }}</h5>
        <p>{{ l.recipe_id }}</p>
        <a class="btn btn-danger" (click)="deleteLiked(l.recipe_id)">Delete</a>
        <button class="btn btn-primary" (click)="goToRecipe(l.recipe_id)">
          See Recipes
        </button>
      </div>
    </div>
  </div>
  <div style="width: 80%" *ngSwitchCase="'list'">
    <!-- Create user list here -->

    <form [formGroup]="form" (ngSubmit)="createList()" class="row my-3 gap-2">
      <div class="col-lg-10 col-sm-3">
        <input
          formControlName="list_name"
          class="form-control"
          type="text"
          placeholder="Title Name"
        />
      </div>
      <div class="col-auto">
        <input class="btn btn-primary" type="submit" [disabled]="!form.valid" />
      </div>
    </form>

    <!-- User lists down here -->

    <div class="card w-90 mb-2" *ngFor="let r of userlists">
      <div class="card-body">
        <h5 class="card-title">{{ r.list_name }}</h5>
        <p>{{ r.id }}</p>
        <a class="btn btn-primary" (click)="GetRecipies(r.id)"> See Recipes </a>
        <a class="btn btn-danger" (click)="deleteList(r.id)">Delete</a>
      </div>
    </div>
    <div class="d-flex align-items-center gap-3" *ngFor="let p of listRecipies">
      <p>
        <strong>{{ p.title }}</strong>
      </p>
      <button
        class="btn btn-primary btn-sm"
        style="height: 2rem"
        (click)="goToRecipe(p.recipe)"
      >
        Show
      </button>
      <button class="btn btn-danger btn-sm" (click)="deleteRecipe(p.id)">
        Delete
      </button>
    </div>
  </div>
  <div *ngSwitchDefault>Press some button</div>
</div>
