<h1 class="text-center my-5">{{ recipe.title }}</h1>
<img
  src="{{ recipe.image }}"
  class="img-fluid rounded mx-auto d-block mb-4"
  alt="No image from api"
/>

<h2 class="text-center">Instructions</h2>
<section class="container mb-2">
  <p [innerHTML]="recipe.instructions"></p>
</section>
<h2 class="text-center">Summary</h2>
<section class="container mb-2">
  <p [innerHTML]="recipe.summary"></p>
</section>

<section class="d-flex justify-content-center gap-3 my-5">
  <button
    class="btn btn-primary"
    (click)="like(recipe.id, recipe.title, recipe.image)"
  >
    Like
  </button>
  <!-- <select (change)="addRecipe($event.target.value)">
    <option value="null" disabled>Select a list</option>
    <option *ngFor="let i of userlists" value="{{ i.id }}">
      {{ i.list_name }}
    </option>
  </select> -->
</section>
