<h1 class="text-center my-5">{{ recipe.title }}</h1>
<img
  src="{{ recipe.image }}"
  class="img-fluid rounded mx-auto d-block mb-4"
  alt="No image from api"
/>

<h2 class="text-center">Instructions</h2>
<section class="container mb-2" [innerHTML]="recipe.instructions"></section>
<h2 class="text-center">Summary</h2>
<section class="container mb-2" [innerHTML]="recipe.summary"></section>

<section class="d-flex justify-content-center my-3">
  <button
    class="btn btn-primary"
    (click)="likeRecipe(userId, recipe.id, recipe.title, recipe.image)"
  >
    Like
  </button>
</section>
