<!-- Search filter -->
<div class="container text-center">
  <h1>{{ title }}</h1>
  <form [formGroup]="form" class="mb-4" (submit)="search()">
    <input
      class="form-control form-control-sm"
      formControlName="query"
      type="text"
      placeholder="Search Food"
    /><br />
    <select formControlName="diet" class="mt-1 form-select form-select-sm">
      <option value="" disabled>Select a diet</option>
      <option value="gluten+free">Gluten Free</option>
      <option value="vegan">Vegan</option>
      <option value="vegetarian">Vegetarian</option>
      <option value="egg+free">Egg Free</option>
    </select>
    <br />
    <select formControlName="intolerances" class="form-select form-select-sm">
      <option value="" disabled>Select a Intolerances</option>
      <option value="dairy">Dairy</option>
      <option value="peanut">Peanut</option>
      <option value="grain">Grain</option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary mb-3" [disabled]="!form.valid">
      Search
    </button>
  </form>
  <!-- Search filter ends -->

  <!-- Cards of recipe shows -->
  <section class="card-group">
    <div class="col-lg-3 mb-4 mr-3" *ngFor="let i of recipe">
      <div class="card" style="width: 18rem">
        <img src="{{ i.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p class="card-text">{{ i.diets }}</p>
          <a class="btn btn-primary" [routerLink]="['recipe/', i.id]"
            >To Recipe</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
