<div class="container text-center col-10">
  <h1>{{ title }}</h1>
  <form class="mb-4">
    <input
      class="form-control form-control-sm"
      type="text"
      placeholder="Search Food"
    /><br />
    <select class="mt-1 form-select form-select-sm">
      <option>Alergies?</option>
      <option>gluten-free</option>
      <option>Vegan</option>
      <option>Vegetarian</option>
      <option>egg-free</option>
    </select>
    <br />
    <select class="form-select form-select-sm">
      <option>Breakfast</option>
      <option>Dinner</option>
      <option>Lunch</option>
    </select>
    <br />
    <button type="submit" class="btn btn-primary mb-3">Search</button>
  </form>

  <!-- <div class="container"> -->
  <div
    class="card mb-3"
    style="max-width: 540px; margin: 0 auto"
    *ngFor="let i of recipe"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ i.image }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ i.label }}</h5>
          <!-- <p class="card-text">{{ i.calories }}</p> -->
          <p class="card-text">
            <small class="text-muted">{{ i.mealType }}</small>
          </p>
          <a class="btn btn-primary">To Recipe</a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
