<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid flex-row-reverse">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">RecipeApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/register" class="nav-link">Register Account</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/login" *ngIf="!loggedIn">Log In</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/secure" *ngIf="loggedIn"
            >Dashboard</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="/" *ngIf="loggedIn" (click)="logout()"
            >Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
